body {
    font-family: "Segoe UI", Arial, sans-serif;
}

header {
    background: linear-gradient(135deg, #0d6efd, #0a58ca);
    color: white;
}

section {
    scroll-margin-top: 80px;
}

.card{
    background: linear-gradient(135deg, #0d6efd, #0a58ca);
    color: white;
}
.text-muted{
    color: rgba(255, 255, 255, 0.6) !important;
}

footer {
    font-size: 0.9rem;
}

.navbar-brand {
    font-weight: bold;
}